<html>
<head>
    <title>Controle - Teleprompter</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/control.css') }}" />
</head>
<body>

    <script>
        const ws = new WebSocket('ws://localhost:8000/ws')

        function controlPresentation(ev) {
            switch(ev) {
                case 'pass_right':
                    ws.send({'event': 'pass_right'})
                    break;
                case 'pass_left':
                    ws.send({'event': 'pass_left'})
                    break;
                case 'play':
                    ws.send({'event': 'play'})
                    break;
                case 'pause':
                    ws.send({'event': 'pause'})
                    break;
                case 'exit':
                    ws.send({'event': 'exit'})
                    break;
                case 'faster':
                    ws.send({'event': 'faster'})
                    break;
                case 'slower':
                    ws.send({'event': 'slower'})
                    break;
            }
        }

        // Callback qundo uma mensagem for recebida
        //ws.onmessage = this.onMessage

        // Manter conexão ativa
        setInterval(() => ws.send('echo'), 1000)

        /* function onMessage(ev) {
            const recv = JSON.parse(ev.data)
            console.log(recv);

            ws.send('Opa Marcos')
        } */
    </script>
</body>
</html>